{% extends 'appblog/index.html' %}

{% block main %}
    <form action="/posteos_buscar" method="GET">
        {% csrf_token %}
        <table class="table table-striped">
            {{search_form.as_table}}
        </table>

        <input type="submit" value="Buscar">
    </form>

    <p> </p>
    <p> </p>
        {% if error %}<p style="color:red">{{error}}</p>{% endif %}

        {% if titulo2 %}
            <p> Autor: <span style="font-weight: bold;">{{titulo2.autor}}</span></p>
            <p> Titulo: <span style="font-weight: bold;">{{titulo2.titulo}}</span></p>
            <p> Contenido: <span style="font-weight: bold;">{{titulo2.contenido}}</span></p>
        {% else %}
            <p> No se encontraron posteos con ese titulo</p>
        {% endif %}

{% endblock %}